.output-annotate {
  position: relative;
}

/* Annotation layer */
.annotation {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Text box */
.annotation-text {
  --col: #3b82f6;

  position: absolute;
  max-width: 50%;
  padding: 0.7em 1em;
  background: white;
  border: 2px solid var(--col);
  border-left: 14px solid var(--col);
  font-size: 0.75em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Mark indicator */
.annotation-mark {
  position: absolute;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  border-radius: 0.2em;
}

/* Arrow shaft */
.annotation-text .annotation-arrow {
  --h: 6px;
  --ay: 0;
  --ax: -11;
  --by: 100;
  --bx: -100;
  --col: #3b82f6;
  
  position: absolute;
  background: var(--col);
  transform-origin: left 50%;
  left: calc(var(--ax) * 1px);
  top: calc(var(--ay) * 1px);
  height: var(--h);
  width: calc(hypot(calc(var(--by) * 1vh - var(--ay) * 1vh), calc(var(--bx) * 1vw - var(--ax) * 1vw)));
  rotate: atan2(calc(var(--by) * 1vh - var(--ay) * 1vh), calc(var(--bx) * 1vw - var(--ax) * 1vw));
}

/* Arrow head */
.annotation-text .annotation-arrow::after {
  content: "";
  position: absolute;
  right: -2px;
  top: -10px;
  width: 0;
  height: 0;
  border: solid var(--col);
  border-width: 0 6px 6px 0;
  /* border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: inline-block;
  padding: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
